In [1]:
#190030843
#Konem Mohan Srinivas Appazi

import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("C:\\Users\\mohan\\Desktop\\DS_Labs\\Iris.csv")
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [4]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [5]:
df.mean()

Id               75.500000
SepalLengthCm     5.843333
SepalWidthCm      3.054000
PetalLengthCm     3.758667
PetalWidthCm      1.198667
dtype: float64

In [6]:
df.median()

Id               75.50
SepalLengthCm     5.80
SepalWidthCm      3.00
PetalLengthCm     4.35
PetalWidthCm      1.30
dtype: float64

In [7]:
df.var()

Id               1887.500000
SepalLengthCm       0.685694
SepalWidthCm        0.188004
PetalLengthCm       3.113179
PetalWidthCm        0.582414
dtype: float64

In [8]:
df.std()

Id               43.445368
SepalLengthCm     0.828066
SepalWidthCm      0.433594
PetalLengthCm     1.764420
PetalWidthCm      0.763161
dtype: float64

In [9]:
df["SepalLengthCm"].corr(df["SepalWidthCm"])

-0.10936924995064937

In [10]:
df["PetalLengthCm"].corr(df["PetalWidthCm"])

0.9627570970509663

In [11]:
df.corr()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm
Id,1.000000,0.716676,-0.397729,0.882747,0.899759
SepalLengthCm,0.716676,1.000000,-0.109369,0.871754,0.817954
SepalWidthCm,-0.397729,-0.109369,1.000000,-0.420516,-0.356544
PetalLengthCm,0.882747,0.871754,-0.420516,1.000000,0.962757
PetalWidthCm,0.899759,0.817954,-0.356544,0.962757,1.000000

In [12]:
df1=df
df1.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [31]:
#Make a linear transformation of the attribute sepal_length by adding 1.5 to it
df1["SepalLengthCm"]=df1["SepalLengthCm"]+1.5
df1.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            8.1           3.5       0.067797           0.2  Iris-setosa
1   2            7.9           3.0       0.067797           0.2  Iris-setosa
2   3            7.7           3.2       0.050847           0.2  Iris-setosa
3   4            7.6           3.1       0.084746           0.2  Iris-setosa
4   5            8.0           3.6       0.067797           0.2  Iris-setosa

In [32]:
df["SepalLengthCm"].corr(df["SepalWidthCm"])

-0.10936924995064949

In [15]:
df2=df.copy()
df2.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            6.6           3.5            1.4           0.2  Iris-setosa
1   2            6.4           3.0            1.4           0.2  Iris-setosa
2   3            6.2           3.2            1.3           0.2  Iris-setosa
3   4            6.1           3.1            1.5           0.2  Iris-setosa
4   5            6.5           3.6            1.4           0.2  Iris-setosa

In [16]:
#make a linear transformation of the attribute petal_length by multiplying two.
df2["PetalLengthCm"]=df2["PetalLengthCm"]*2
df2.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            6.6           3.5            2.8           0.2  Iris-setosa
1   2            6.4           3.0            2.8           0.2  Iris-setosa
2   3            6.2           3.2            2.6           0.2  Iris-setosa
3   4            6.1           3.1            3.0           0.2  Iris-setosa
4   5            6.5           3.6            2.8           0.2  Iris-setosa

In [17]:
#co-relation between the attributes (petal_length, petal_with)
df["PetalLengthCm"].corr(df["PetalWidthCm"])

0.9627570970509663

In [18]:
#CONCLUSION: when we done any linear transformation to the attribute there will be no change in the corelation value
#So in above case we added 1.5 to SepalLengthCm and we multiply 2 to PetalLengthCm so no change in corelation

In [19]:
df3=df.copy()

In [20]:
#e.	Make a linear transformation of the attribute sepal_length by subtracting 1.5
df3["SepalLengthCm"]=df3["SepalLengthCm"]-1.5
df3.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [21]:
#corelation:
df3["SepalLengthCm"].corr(df3["SepalWidthCm"])

-0.1093692499506494

In [22]:
df3["PetalLengthCm"]=df3["PetalLengthCm"]%2
df3.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [23]:
df3["PetalLengthCm"].corr(df3["PetalWidthCm"])

-0.32161508916738935

In [24]:
#CONCLUSION: when we done any linear transformation to the attribute there will be no change in the corelation value
#So in above case we subtracted 1.5 to SepalLengthCm and we divided 2 to PetalLengthCm so no change in corelation

In [25]:
#Min-max normilization
df4=df
maxcol=df4.PetalLengthCm.max()
mincol=df4.PetalLengthCm.min()
df4.PetalLengthCm=(df4.PetalLengthCm-mincol)/(maxcol-mincol)
df4.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            6.6           3.5       0.067797           0.2  Iris-setosa
1   2            6.4           3.0       0.067797           0.2  Iris-setosa
2   3            6.2           3.2       0.050847           0.2  Iris-setosa
3   4            6.1           3.1       0.084746           0.2  Iris-setosa
4   5            6.5           3.6       0.067797           0.2  Iris-setosa

In [26]:
df4["PetalLengthCm"].corr(df4["PetalWidthCm"])

0.9627570970509663

In [27]:
#Post-lab
pl_df=pd.read_csv("C:\\Users\\mohan\\Desktop\\DS_Labs\\supermarket.csv")
pl_df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [28]:
#the co-relation between the attributes unit-price and Total
pl_df["Unit price"].corr(pl_df["Total"])

0.633962088589069

In [29]:
#Then transform the attribute ‘Total’ using min-max normalization
pl_df1=pl_df
maxcol1=pl_df1.Total.max()
mincol1=pl_df1.Total.min()
pl_df1.Total=(pl_df1.Total-mincol1)/(maxcol1-mincol1)
pl_df1.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,0.521616,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,0.067387,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,0.319628,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,0.463549,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,0.604377,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [30]:
#the co-relation between the attributes unit-price and Total
pl_df1["Unit price"].corr(pl_df1["Total"])

0.6339620885890692