In [1]:
import numpy as np
import pandas as pd

In [32]:
df=pd.read_csv('Iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [30]:
df1=df.loc[df['Species']=='Iris-setosa']
df1.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [6]:
count=np.count_nonzero(df1.SepalLengthCm)
print(count)

50

In [7]:
a=df1.SepalLengthCm.unique()
print(a)

[5.1 4.9 4.7 4.6 5.  5.4 4.4 4.8 4.3 5.8 5.7 5.2 5.5 4.5 5.3]

In [9]:
fre=[]
pro=[]
c=0
for i in a:
    for j in df1['SepalLengthCm']:
        if i==j:
            c=c+1
    fre.append(c)
    pro.append(c/count)
    c=0
print(a)
print(fre)
print(pro)

[5.1 4.9 4.7 4.6 5.  5.4 4.4 4.8 4.3 5.8 5.7 5.2 5.5 4.5 5.3]
[8, 4, 2, 4, 8, 5, 3, 5, 1, 1, 2, 3, 2, 1, 1]
[0.16, 0.08, 0.04, 0.08, 0.16, 0.1, 0.06, 0.1, 0.02, 0.02, 0.04, 0.06, 0.04, 0.02, 0.02]

In [29]:
df2=pd.DataFrame({
    'SpealLength':a,
    'Frequency':fre,
    'Probablity':pro
})
df2.head()

   SpealLength  Frequency  Probablity
0          5.1          8        0.16
1          4.9          4        0.08
2          4.7          2        0.04
3          4.6          4        0.08
4          5.0          8        0.16

In [14]:
expect_value=0
i=0
for val in a:
    expect_value=expect_value+(val*pro[i])
    i=i+1
print(expect_value)

5.005999999999999

In [28]:
df3=df.loc[df['Species']=='Iris-virginica']
df3.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
100,101,6.3,3.3,6.0,2.5,Iris-virginica
101,102,5.8,2.7,5.1,1.9,Iris-virginica
102,103,7.1,3.0,5.9,2.1,Iris-virginica
103,104,6.3,2.9,5.6,1.8,Iris-virginica
104,105,6.5,3.0,5.8,2.2,Iris-virginica

In [22]:
count1=np.count_nonzero(df3.PetalLengthCm)
print(count1)

50

In [23]:
b=df3.PetalLengthCm.unique()
print(b)

[6.  5.1 5.9 5.6 5.8 6.6 4.5 6.3 6.1 5.3 5.5 5.  6.7 6.9 5.7 4.9 4.8 6.4
 5.4 5.2]

In [24]:
fre1=[]
pro1=[]
c1=0
for i in b:
    for j in df3['PetalLengthCm']:
        if i==j:
            c1=c1+1
    fre1.append(c1)
    pro1.append(c1/count1)
    c1=0
print(b)
print(fre1)
print(pro1)

[6.  5.1 5.9 5.6 5.8 6.6 4.5 6.3 6.1 5.3 5.5 5.  6.7 6.9 5.7 4.9 4.8 6.4
 5.4 5.2]
[2, 7, 2, 6, 3, 1, 1, 1, 3, 2, 3, 3, 2, 1, 3, 3, 2, 1, 2, 2]
[0.04, 0.14, 0.04, 0.12, 0.06, 0.02, 0.02, 0.02, 0.06, 0.04, 0.06, 0.06, 0.04, 0.02, 0.06, 0.06, 0.04, 0.02, 0.04, 0.04]

In [27]:
df4=pd.DataFrame({
    'PetalLength':b,
    'Frequency':fre1,
    'Probablity':pro1
})
df4.head()

   PetalLength  Frequency  Probablity
0          6.0          2        0.04
1          5.1          7        0.14
2          5.9          2        0.04
3          5.6          6        0.12
4          5.8          3        0.06

In [26]:
expect_value1=0
i=0
for val in b:
    expect_value1=expect_value1+(val*pro1[i])
    i=i+1
print(expect_value1)

5.552